@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

:root {
  /* --background: #ffffff00; */
  --foreground: #ffffffd9;
  --font-sans: 'Nunito', sans-serif;
}

@theme inline {
  /* --color-background: var(--background); */
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a00; */
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-sans);
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}
